BODY{
BACKGROUND-COLOR:#076636;
}

.TITULO{
TEXT-ALIGN:CENTER;
FONT-FAMILY:FELIX TITLING;
   FONT-SIZE:40px;
   COLOR:Black;
}

LABEL{
FONT-SIZE:11px;
COLOR:WHITE;
FONT-FAMILY:Comic Sans MS;
}
A{
FONT-FAMILY:Forte;
TEXT-ALIGN:CENTER;
FONT-SIZE:20px;
COLOR:WHITE;
}
TD{
FONT-FAMILY:Olive Oil;
TEXT-ALIGN:CENTER;
FONT-SIZE:12px;
COLOR:WHITE;
}
e{
FONT-FAMILY:;
TEXT-ALIGN:CENTER;
FONT-SIZE:7px;
COLOR:WHITE;
}
 FOOTER{
BACKGROUND-COLOR:#70b880;
}
HEADER{
BACKGROUND-COLOR:#70b880;
}
UL{
TEXT-ALIGN:LEFT;
FONT-SIZE:11px;
COLOR:BLACK;
FONT-FAMILY:Comic Sans MS;
}
H3{
TEXT-ALIGN:CENTER;
FONT-SIZE:11px;
COLOR:BLACK;
FONT-FAMILY:Comic Sans MS;
}
