BODY{
BACKGROUND-COLOR:#076636;
}

H1{
FONT-FAMILY:FELIX TITLING;
TEXT-ALIGN:CENTER;
  
   FONT-SIZE:40px;
   COLOR:Black;

}

H2{
FONT-FAMILY:Comic Sans MS;
TEXT-ALIGN:CENTER;
FONT-SIZE:28px;
COLOR:WHITE;
}

A{
FONT-FAMILY:Forte;
TEXT-ALIGN:CENTER;
FONT-SIZE:20px;
COLOR:WHITE;
}

P{
TEXT-ALIGN:CENTER;
FONT-SIZE:20px;
COLOR:WHITE;
FONT-FAMILY:Comic Sans MS;
}
e{
FONT-FAMILY:Olive Oil;
TEXT-ALIGN:CENTER;
FONT-SIZE:7px;
COLOR:WHITE;
}
FOOTER{
BACKGROUND-COLOR:#70b880;
}
HEADER{
BACKGROUND-COLOR:#70b880;
}
UL{
TEXT-ALIGN:LEFT;
FONT-SIZE:11px;
COLOR:BLACK;
FONT-FAMILY:Comic Sans MS;
}
H3{
TEXT-ALIGN:LEFT;
FONT-SIZE:11px;
COLOR:BLACK;
FONT-FAMILY:Comic Sans MS;
}

